<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clash 3001 - {{pageTitle}}</title>
  </head>

  <link rel="stylesheet" href="/style.css">
  <h1 id="cthree"> Clash 3001</h1>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/~tusingz/clash/home">Home</a></li>
      <li class="navbar-item"><a href="/~tusingz/clash/deckbuilder">Deck Builder</a></li>
      <li class="navbar-item"><a href="/~tusingz/clash/chesttrack">Chest Tracker</a></li>
      <li class="navbar-item"><a href="/~tusingz/clash/update">Update</a></li>
      <li class="navbar-item"><a href="/~tusingz/clash/youtube">Youtube Links</a></li>
    </ul>
  </nav>
  
  <body>

    {{{body}}}

  </body>

</html>

