{{> header}}
<link rel="stylesheet" href="/dbstyle.css">
<nav class="mynav">
  <ul class="top">
    <li class="title">Deck Builder</li>
    <li class="nav-item">Average DPS: </li>
    <li class="nav-item">Average Speed: </li>
    <li class="nav-item">Average Health: </li>
  </ul>
</nav>
