{{> header}}
<link rel="stylesheet" href="/rootstyle.css">

<body>
	<div class="rightbar">
		
		<iframe src="https://www.reddit.com/r/ClashRoyale/"></iframe>

	</div>

	<div class="welcome">

	</div>

	<div class="bottom">

	</div>

</body>