{{> header}}
<link rel="stylesheet" href="/youstyle.css">

<body>
	<div class="bloc1">


	<iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=ClashofClansStrats" width="240" height="200" frameBorder="0"></iframe>

	<iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=PlayClashOfClans" width="240" height="200" frameBorder="0"></iframe> 

	<iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=GAMINGwithMOLT" width="240" height="200" frameBorder="0"></iframe> 

	</div>

	<div class="bloc2">

	<a href="https://www.youtube.com/user/ClashofClansStrats" target="_blank"> <img src="https://yt3.ggpht.com/-4Nvz2p6eBEE/AAAAAAAAAAI/AAAAAAAAAAA/Rs6vVpOHt2E/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"></a>

	<a href="https://www.youtube.com/user/PlayClashOfClans" target="_blank"> <img src="https://yt3.ggpht.com/-_ayCrVokCXs/AAAAAAAAAAI/AAAAAAAAAAA/ufA5wZ5k5KE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"></a>

	<a href="https://www.youtube.com/user/GAMINGwithMOLT" target="_blank"> <img src="https://pbs.twimg.com/profile_images/776499017312186369/gnYBgcUr.jpg"></a>

	</div>

</body>

