.navbar-list
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9D0400;
}

.cardin: img
{
}

h1
{
	margin: 0;

}

#cthree
{
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 50px;
	color: #f74d48;
	background-color: #720300;
	padding-left: 85px;
	padding-bottom: 0px;
	padding-top: 30px;
  height: 60px;
  }



h1 a:link
{
	text-decoration: none;
	font-weight: thinner;
}

img
{
	margin-top: 0px;
}


.navbar-item
{
	float: left;
	display: block;
    text-align: left;
    padding: 10px 10px;
}

.navbar-item a
{
	text-decoration: none;
	color: white;
	font-size: 17px;
}


.navbar-item a:link
{
	text-decoration: none;
	font-weight: lighter;
    font-family: helvetica;
}


.navbar-item:hover
{
    background-color: gray;
}

body
{
	background-color: white;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20;
	background-image: url("back");
}

p
{
	padding-left: 24px;
	padding-right: 50px;
	padding-top: 10px;
	font-family: Helvetica, sans-serif;
	display: block;
	text-align: center;
	color: white;
	/*color: #b30000;*/

}

p img
{
	margin-top: 20px;
	margin-left: 300px;
}

h1 img
{
  padding-right: 50px;
  padding-left: 50px;
  float: left;
  width: 90px;
  height: 80px;
}

